html {
  font-size: 16px;
}

body {
  font-family: "Shippori Mincho B1", serif;
}

div {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

*,
*:focus,
*:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
input,
textarea,
select {
  cursor: pointer;

  &:focus,
  &:active {
    outline: 0;
  }
}

.wrap {
  margin: auto;
  max-width: 1380px;
}

.page {
  min-height: calc(100vh + 10px);
  box-sizing: border-box;
  position: relative;
  padding: 84px 20px 20px 20px;
  @media (min-width: 768px) {
    padding: 76px 20px 20px 20px;
  }
}

//Custom react confirm alert
.react-confirm-alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.react-confirm-alert-body {
  width: 300px !important;
  box-sizing: border-box;

  h1 {
    font-size: 20px;
  }
}
