html {
  font-size: 16px;
}

body {
  font-family: "Shippori Mincho B1", serif;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
input,
textarea,
select {
  cursor: pointer;
  
  &:focus,
  &:active {
    outline: 0;
  }
}

.container {
  margin: auto;
  max-width: 1380px;
}

.page {
  min-height: calc(100vh + 10px);
  box-sizing: border-box;
  position: relative;
  padding: 84px 20px 20px 20px;
  @media (min-width: 768px) {
    padding: 76px 20px 20px 20px;
  }
}

.react-confirm-alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.react-confirm-alert-body {
  width: 300px  !important;
  box-sizing: border-box;

  h1 {
    font-size: 20px;
  }
}
