html {
  font-size: 16px;
}

body {
  font-family: "Shippori Mincho B1", serif;
}

button,
input {
  &:focus,
  &:active {
    outline: 0;
  }
}

.container {
  margin: auto;
  max-width: 1380px;
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding: 84px 20px 20px 20px;
  @media (min-width: 768px) {
    padding: 76px 20px 20px 20px;
  }
}

.card {
  padding-bottom: 15px;
}
